@import url("All_Fonts.css");

.tablePage {
  color: #3b5998;
  font-family: MontBold;
  display: flex;
  align-items: center;
  padding-top: 10px;
  width: max-content;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 12px;
}

.tablePageNumber {
  display: flex;

  align-items: center;
  padding-right: 10px;
  font-family: MontSemiBold;
}

.tableNextPage {
  display: flex;
  align-items: center;
}

.tableNextIcon {
  display: flex;
  align-self: center;
}

.tableNextPage:hover {
  cursor: pointer;
}
